
a {
	text-decoration:none;
}
#mainwrap {
  width: 989px;
}

#wrap {
  margin:0px auto;
  border:1px #000 solid;
  width:990px;
  background: url(images/footer.gif) repeat-x bottom #FFF;
  height:100%;
}

#header {/*
  background:url(images/header.jpg) #000;*/
  position:relative;
  height:175px;
  color:#FFF;
  width:inherit;
  display:block;
}

#logo {
  background: url(images/logo.gif);
  width:267px;
  height:63px;
  display:block;
  position:absolute;
  left:30px;
  top:25px;
}



#usermenu {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:inherit;
	top:10px;
	right: 105px;
	position:absolute;
	padding-left:5px;
	/*border-left:1px solid #CCC;*/
}

#usermenu a {

	background: url(images/menu.gif) repeat;
	color:#FFF;

}

#menu {
	font:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-transform: uppercase;
	color:inherit;
	top:135px;
	position:absolute;
}

#menu a {

	color:#FFF;
	font-weight: bold;
}


#menu .linkdesc {
	display:inline;
	/*position:absolute;*/
	left:4px;	
}

#menu ul {

	/*margin:0;
	padding:0;*/
}

#menu li  {
	border-right:thin dotted #CCC;
	padding-right:10px;
	margin-top:5px;
	list-style-type:none;
	display:inline;
	margin-left:0px;
}

#usermenu li {
	/*border-right:thin dotted #CCC;*/
	padding-right:10px;
	padding-left:0px;
	list-style-type:none;
	margin-left:6px;
}

#content {
	font-family:Verdana, Geneva, sans-serif;
	padding:0 15px 25px;

}

#user {
	position:absolute;
	right:100px;
	top:60px;	
}
#user a {
	font-size:16px;	
	color:#FFF;
}

#avatar {
	background:url(images/avatar.gif);
	display:block;
	width:32px;
	height:32px;
	float:left;
	
}

input, textarea {
    border: 1px solid #006;
    background: #ffc;
    display:block;
}
.button {
    border: 1px solid #006;
    background: #CCC;
}



form {
	margin:0 auto;
}

.post-left {

	width:400px;
/*	border-bottom: solid thin #727272;*/
	padding-bottom: 15px;
	display: table-cell;

}

.post-left:hover, .post-right:hover {

background: #FCFCFC;

}

.post-right {
	width:400px;
/*	border-bottom: solid thin #727272;*/
	padding-bottom: 15px;
	padding-left:70px;
	display: table-cell;
}


.posttitle {
	text-transform: capitalize;

}

.posttitle a {

	color:#4B0808;
}

.posttitle a:hover {

	text-decoration: underline;
}

.postcontent p {
	margin-left:50px;

}

.postimage {

	float:left;
	width:100px;
	box-shadow: 0px 0px 5px #ccc;
	height:75px;
	margin-right:13px;
	
}

.postimage img {
	padding:1px;
   border:1px solid #021a40;
	width:inherit;
	height:inherit;
}

.postrow {

	display:table-row;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 13.5px;
}
#btitle {
	color:#411931;
	font-family: verdana;
	letter-spacing: 0.1px;
	text-transform: uppercase;
}

#description {
	width:400px;
	text-align: left;
}

#adminsection input {
	background:#FFF;
	display: inline;
}

#adminsection input:hover {
	background:#000;
	color:#FFF;
}

#footer #copywrite {
	text-indent: 15px;
}

#footer {
	margin-bottom:0;
	height:170px;
	width:990px;
	/*background: #000 repeat;*/
	color:#FFF;
}

#footer #tagcloud {
	width:inherit;
	height:140px;
	padding:10px 10px 0px 10px;

}

#footer #tagcloud a {
	color:#FFF;


}
#footer #tagcloud a:hover {
	text-decoration: underline;
}
#footer #tagcloud h2 {
}

#pagenav {
	margin:0 auto;
}

table.bottomBorder { border-collapse:collapse; border-top: none; }
table.bottomBorder td, table.bottomBorder th { border-bottom:1px dotted black;padding:5px; }
a {
	color: #000;

}

a:hover {
	text-decoration: underline;
}

.imgstory {

	border:1px thin #000;
	padding:2px;
}