body {
  background: url(images/bg.gif) repeat;
  margin:0px;
}

a {
	text-decoration:none;
}
#mainwrap {
  width: 989px;
}

#wrap {
  margin:0px auto;
  border:1px #000 solid;
  width:990px;
  background: url(images/footer.gif) repeat-x bottom #FFF;
  height:100%;
}

#header {
  background:url(images/header.jpg) #000;
  position:relative;
  height:175px;
  color:#FFF;
  width:inherit;
  display:block;
}

#logo {
  background: url(images/logo.gif);
  width:267px;
  height:63px;
  display:block;
  position:absolute;
  left:30px;
  top:25px;
}



#usermenu {
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:inherit;
	top:10px;
	right: 105px;
	position:absolute;
	padding-left:5px;
	/*border-left:1px solid #CCC;*/
}

#usermenu a {

	background: url(images/menu.gif) repeat;
	color:#FFF;

}

#menu {
	font:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-transform: uppercase;
	color:inherit;
	top:135px;
	position:absolute;
}

#menu a {

	color:#FFF;
	font-weight: bold;
}


#menu .linkdesc {
	display:inline;
	/*position:absolute;*/
	left:4px;	
}

#menu ul {

	/*margin:0;
	padding:0;*/
}

#menu li  {
	border-right:thin dotted #CCC;
	padding-right:10px;
	margin-top:5px;
	list-style-type:none;
	display:inline;
	margin-left:0px;
}

#usermenu li {
	/*border-right:thin dotted #CCC;*/
	padding-right:10px;
	padding-left:0px;
	list-style-type:none;
	margin-left:6px;
}

#content {
	padding:0 15px;	
}

#user {
	position:absolute;
	right:100px;
	top:60px;	
}
#user a {
	font-size:16px;	
	color:#FFF;
}

#avatar {
	background:url(images/avatar.gif);
	display:block;
	width:32px;
	height:32px;
	float:left;
	
}

input, textarea {
    border: 1px solid #006;
    background: #ffc;
    display:block;
}
.button {
    border: 1px solid #006;
    background: #CCC;
}


#footer {
	height:228px;
	width:990px;
	display:block;
}

form {
	margin:0 auto;
}

.post-left {

	width:600px;
	display:block;
	border-bottom: solid thin #727272;
	padding-bottom: 15px;
}

.post-left:hover, .post-right:hover {

background: #FCFCFC;

}

.post-right {
	width:600px;
	display:block;
	border-bottom: solid thin #727272;
	padding-bottom: 15px;
}


.posttitle {
	text-transform: capitalize;

}

.posttitle a {

	color:#000;
}

.posttitle a:hover {

	text-decoration: underline;
}

.postcontent p {
	margin-left:50px;

}

.postimage {

	float:left;
	width:100px;
	box-shadow: 0px 0px 5px #ccc;
	height:75px;
	margin-right:7px;
	
}

.postimage img {
	padding:1px;
   border:1px solid #021a40;
	width:inherit;
	height:inherit;
}